/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $base__space-unit 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/* Comments */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}


/* Hero Image **** START */
.frafca-hero-image {

	.hero-image-page {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5rem 1rem 1rem 1rem;
		height: 100vh;
		text-align: center;
	
		@include desktop {
			height: 72vh;
			padding: 5rem 24rem 5rem 24rem;
		}
	
		.page-template-front-page & {
			height: 100vh;
		}
		
	} 

	.single-prgrm_svc & {
		margin-bottom: 5rem;
	}
}
/* Hero Image #### END */

/* Grid Card **** START */
.purple {
	background-color: $color__background-article;

	// Convert to pink color only for .content-type-widgets in DESKTOP version
	.content-type-widgets & {
		@include desktop {
			background-color: $color__background-banner;
		}
	}
}
.pink {
	background-color: $color__background-banner;
}

.white {
	background-color: transparent;
	color: #0D0D0D;
}

.grid-cards {
	@include desktop {
		max-width: $desktop-width;
		margin: 120px auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.rect-card {
		display: flex;
		flex-direction: column;
		margin: 5rem 0;
		padding: 5rem 1.5rem 2rem 1.5rem; 
		text-align: center;

		&.no-content {
			grid-column: 1/3;
			margin: 0;
			padding: 2rem;
			color: $color__background-body;
		}

		@include desktop {
			margin: 0 1rem 2rem 0;
			padding: 5rem 2.5rem 2rem 2.5rem;

			// Adjust margins of even number of container
			&:nth-child(2*n){
				margin-left: 1rem;
				margin-right: 0;
			}
		}

		p {
			@include desktop {
				flex-grow: 1;
			}
		}
	}

	p {
		margin-bottom: 3rem;
	}
}
/* Grid Card #### END */

/* Contact Page **** START */

.page-template-page-contact {
	
	.grid-cards {
		padding-bottom: 5rem;
	@include desktop {
		display:inline;
		max-width: 1200px;
		margin: auto;
		}
	}

		.contact-cards {
			@include desktop {
				display:grid;
				grid-template-columns: repeat(3, 1fr);
				// margin: 2rem 1rem 5rem 1rem;
				grid-gap: 2rem;

			}
			.rect-card p,
			.rect-card h3 {
				text-align: left;
			}
			.rect-card {
				padding: 5rem 2.5rem 2rem;
				@include desktop {
				margin: 0;
				padding: 5rem 2.5rem 2rem 2.5rem;
	
				// Adjust margins of even number of container
				&:nth-child(2*n){
					margin-left: 0;
					margin-right: 0;
				}
			}
			}
		}

		.contact-location-header {

			color: $color__text-sec;
			text-align: center;
			padding: 5rem 0 0 0;
			
			@include desktop {
				padding: 5rem 0 5rem 0;
			}
		}
	}
/* Contact Page #### END */

/* Team Page **** START */

.page-template-page-meet-our-team-php {
	.grid-cards {
		display: inline;
		.rect-card {
			margin: 0;
			padding: 0rem 1.5rem 5rem 1.5rem;
				@include desktop {
					padding: 0rem 1.5rem 8rem 1.5rem;
				}
		}
		p { 
			margin-bottom: 1.5rem;
		}
	}
	.card-info  {
		padding: 0 2rem;
			@include desktop {
				text-align: left;
				padding-top: 80px;
			}
		
		p:first-child {
			font-weight: bold;
		}
		p:nth-child(2) {
			font-weight: 500;
		}
		a {
			color:$color__text-sec;
			text-decoration: none;

			&:hover {
				color:$color__text-sec;
			}
			&:active {
				color:$color__text-sec;
			}
		}
	}

	.page-team-header {
		color: $color__text-sec;
		text-align: center;
		padding: 3rem 0 3rem 0;
			@include desktop {
				padding: 8rem 0 8rem 0;
			}
	}

	.grid-rect-card {
		@include desktop {
			display: grid;
			grid-template-columns: 45% 55%;
			grid-gap: 2rem;
		}

	}

}
/* Team Page **** END */
