/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $base__space-unit 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/* Comments */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/* Contact Page **** START */


.page-contact-card p {
	width: 655px;
	color:black;
}

.page-contact-location-header {
    color: black;
    text-align: center;
    padding: 80px 0px 50px 0px;
}

.page-contact-card h5 {
    color:black;
}
/* Contact Page #### END */



/* Contact Page #### END */

.hero-image-page {
	display: flex;
    align-items: center;
	justify-content: center;
	padding: 5rem 1rem 1rem 1rem;
    height: 100vh;
	text-align: center;

	@include desktop {
		height: 72vh;
	}

    .page-template-front-page & {
        height: 100vh;
    }
<<<<<<< HEAD
=======
}

.grid-cards {
	.rect-card {
		margin: 5rem 0;
		padding: 5rem 1.5rem 2rem 1.5rem; 
		text-align: center;
	}
	.purple {
		background-color: $color__background-article;
	}

	p {
		margin-bottom: 3rem;
	}
>>>>>>> 20fa8bf20841d78647376e567bd1bdec918091fc
}