/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $base__space-unit 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/* Comments */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/* Hero Image **** START */
.frafca-hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-image-page {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 1rem 1rem 1rem;
        height: 100vh;
        text-align: center;

        @include desktop {
            height: 72vh;
            padding: 5rem 24rem 5rem 24rem;
        }

        .page-template-front-page & {
            height: 100vh;
        }

    }

    .single-prgrm_svc & {
        margin-bottom: 5rem;
    }
}

/* Hero Image #### END */

/* Grid Card **** START */
.purple {
    background-color: $color__background-article;

    // Convert to pink color only for .content-type-widgets in DESKTOP version
    .content-type-widgets & {
        @include desktop {
            background-color: $color__background-banner;
        }
    }
}

.pink {
    background-color: $color__background-banner;
}

.white {
    background-color: transparent;
    color: #0D0D0D;
}

.error-no-data {
    color: $color__no-data;
}

.grid-cards {
	@include desktop {
		max-width: $desktop-width;
		margin: 120px auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.rect-card {
		display: flex;
		flex-direction: column;
		margin: 5rem 0;
		padding: 5rem 1.5rem 2rem 1.5rem;
		text-align: center;

		&.no-content {
			margin: 0;
			padding: 2rem;
			color: $color__background-body;
			grid-column: 1/3;
		}

		@include desktop {
			margin: 0 1rem 2rem 0;
			padding: 5rem 2.5rem 2rem 2.5rem;

			// Adjust margins of even number of container
			&:nth-child(2*n) {
				margin-left: 1rem;
				margin-right: 0;
			}
		}

		p {
			@include desktop {
				flex-grow: 1;
			}
		}
	}

	p {
		margin-bottom: 3rem;
	}
}

/* Grid Card **** END */

/* Contact Page **** START */

.page-template-page-contact {

    .grid-cards {

        @include desktop {
            display: inline;
            max-width: 1200px;
            margin: auto;
            margin-bottom: 5rem;
        }
    }

    .contact-cards {
        @include desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2rem;

        }

        .rect-card p {
            text-align: left;
            line-height: 22px;
            font-size: 19px;
            margin-bottom:22px;
            margin-top: 0px;
            
        }

        .rect-card h3 {
            text-align: left;
            margin-bottom: 0.5rem;

            @include desktop {
            font-size: 23px;
            margin-bottom: 1rem;
            }

        }

        .rect-card {
            padding: 5rem 2.5rem 2rem;

            @include desktop {
                margin: 0;
                padding: 3rem 1.5rem 2rem;;
               

                // Adjust margins of even number of container
                &:nth-child(2*n) {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    .contact-location-header {

        color: $color__text-sec;
        text-align: center;
        padding: 5rem 0 0 0;

        @include desktop {
            padding: 5rem 0 5rem 0;
        }
    }
}

/* Contact Page **** END */

/* Team Page **** START */
.page-template-page-meet-our-team {
    .grid-cards {
        display: block;

        @include desktop {
            max-width: $desktop-width;
            margin: 0 auto;
        }

        .rect-card {
            margin: 0;
            padding: 0rem 1.5rem 5rem 1.5rem;

            @include desktop {
                padding: 0rem 1.5rem 8rem 1.5rem;
            }
        }

        p {
            margin-bottom: 1.5rem;
        }
    }

    .card-info {
        padding: 0 2rem;

        @include desktop {
            text-align: left;
            padding-top: 80px;
        }

        p,
        a {
            display: block;
            font-weight: 500;
            font-size: 1rem;
        }

        p:nth-child(1),
        p:nth-child(2) {
            font-weight: 900;

        }

        p:first-child {
            font-size: 22px;

            @include desktop {
                font-size: 2rem;
            }
        }

        p:nth-child(2) {
            @include desktop {

                font-size: 1.5rem;

            }
        }

        a {
            color: $color__text-sec;
            text-decoration: none;

            &:hover {
                color: $color__text-sec;
            }

            &:active {
                color: $color__text-sec;
            }
        }
    }

    .page-team-header {
        color: $color__text-sec;
        text-align: center;
        padding: 3rem 0 3rem 0;

        @include desktop {
            padding: 8rem 0 8rem 0;
        }
    }

    .grid-rect-card {
        @include desktop {
            display: grid;
            grid-template-columns: 45% 55%;
            grid-gap: 2rem;
        }

    }

}

/* Team Page **** END */

/* Volunteer page **** Start */
.page-template-page-volunteer {

    .volunteer-info {
        margin: 5rem 2rem 0rem 2rem;
        text-align: center;

        @include desktop {
            text-align: left;
            margin-top: 0;
        }

    }

    .volunteer-info-container {
        text-align: center;
        margin-bottom: 5rem;

        h3 {
            padding: 2rem 0;
            margin-bottom: 3rem;
        }

        a {
            color: $color__text-sec;
            text-decoration: none;

            &:hover {
                color: $color__text-sec;
            }

            &:active {
                color: $color__text-sec;
            }
        }

        @include desktop {
            text-align: left;
        }
    }

    .volunteer-apply-info {
        text-align: center;
        margin: 0rem 2rem 5rem 2rem;

        @include desktop {
            text-align: left;
        }

    }
}

.flex-container {
    @include desktop {
        max-width: $desktop-width;
        margin: 120px auto 100px auto;
        display: flex;
    }


    .flex-wrap {

        h3 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 0;
        }

        .content-type-text {
            margin-top: 5rem;

            @include desktop {
                padding: 0;
                margin-top: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .content-type-widgets {

            h3,
            p {
                padding: 0 2rem;
                margin-bottom: 1rem;
            }

            h3 {
                padding-top: 2rem;
                padding-bottom: 2rem;
                color: $color__text-main;
            }

            p {
                &:last-child {
                    margin-bottom: 3rem;
                }
            }
        }

        @include desktop {
            &.single-description {
                order: 1;
                text-align: left;
            }

            &.single-details {
                flex: none;
                order: 2;
                width: 350px;
                margin-right: 120px;

                .content-type-widgets {
                    border: 1px solid $color__border;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &>* {
                        margin: 0;
                        margin-bottom: 1.5rem;

                        &:last-child {
                            margin-bottom: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

/* Volunteer page **** End */

/* Single Event page **** Start*/
#tribe-events-pg-template {
	padding: 0px;
}
#tribe-events {
	p:last-child {
		margin-bottom: 2rem;
	}
	div {
		&.tribe-events-single-event-description {
			padding: 0rem 3rem;
		}
	}
}

.single-tribe_events {

	color: #323232;
	padding: 0rem;
	

	.tribe-events-single {
		padding:0;
		margin:0;
	}

	.single-event-header {
		background-color: $color__background-article;
		color: white;
		padding: 2rem;
		transform: translateY(-38px);
		width: 90%;
		margin: 0 auto;
				@include desktop {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
				}
	}

	.tribe-events-single-event-title {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.single-event-purple {
		background-color: $color__background-article;
		border: none;
		padding: 0;
		font-size: 1rem;
		font-weight: 300;
			span {
				font-weight: 300;
			}
	}

	.tribe-events-single-event-description,
	.tribe-events-content {

			h1 {
				font-size: 2rem;
			}
			p:last-child {
				margin-bottom: 2rem;
			}
			span {
				padding: 2rem;
			}
			@include desktop {
				order: 0;
				width: 70%;
			}
	}

	.single-event-date-details {
		display: none;
	}

	.single-tribe_events,
	.tribe-events-cal-links {
		text-align:center;
		@include desktop {
			order: 2;
			width: 100%;
		}
	}

	.single-event-venue {
		display: none;
	}

	.secondary .tribe-events-venue-map {
		width: 90%;
		margin: 2rem 5%; 
				
	}

	.tribe-events-meta-group-organizer {
		padding: 0 3rem;
	}
	
	.single-tribe_events,
	.tribe-events-event-meta {
		background: none;
		border: none;
		margin: 0;
	}

	.tribe-events-single-section,
	.tribe-events-event-meta,
	.primary {
		@include desktop {
			order: 1;
			width: 30%;
			font-size: 19px;
			display: flex;
		}
	
	.tribe-clearfix {
		width: 100%;
	}

	}
	.secondary {
		width: 100%;
		@include desktop {
			order: 4;
			width: 100%;
		}


	}

    .fa-map-marker-alt,
	.fa-calendar-alt {
		font-size: 1.5rem;
	}

	.get-ticket-header {
		display: none;
		@include desktop {
			display: block;
			text-align: center;
			order:5;
		}
	}

	.get-ticket-footer {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;
		padding: 0 1rem;
			a {
				text-align: center;
				margin: 1rem;
			}
		@include desktop {
			display: none;
		}
	}

	.get-ticket-price {
		font-size: 19px;
		font-weight: bold;
	}

	.get-ticket-description {
		font-size: 1rem;
		margin-bottom: 0rem;
    }
    
    .get-ticket-address-details {
        font-size: 17px;
    }

	.single-event-content-container {
		@include desktop {
		display: flex;
		flex-wrap: wrap;
		padding: 0rem 2rem;
		}
    }
    
    #tribe-events-pg-template
    .tribe-events-content h1 {

        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
	
	#tribe-events-content {
		@include desktop {
			.tribe-events-meta-group-organizer {

				display: block;
				float: none;
				width: 100%;
				padding: 0;
                padding-top: 2rem;
				h2 {
					display: none;
					// margin-top: 0;
					// margin-bottom: 1rem;
                }
				.single-event-organizer {
					flex: none;
					width: 100%;	
					position: relative;
					&::before {
						position: relative;
						display: block;
						width: 100%;
						content: 'Contact Information';
						font-size: 1.5rem;
						font-weight: 900;
						
					}
				}
				dl {
					display: flex;
					flex-wrap: wrap;
					
					* {
						line-height: 1.5;
					}
	
					dt {
						flex: none;
						width: 30%;
					}
					dd {
						width: 70%;
					}
				}
			}
		}
	}
			
}
/* Single Event page #### END #/

/* Job Postings page **** START */

.page-template-page-job-postings {

    .rect-card{
        
        p:first-child {
        margin-bottom: 5px;
        }

        h3 {
        margin-bottom: 2rem;
        }

        p:nth-child(3) {
        margin-bottom: 5rem;
            @include desktop {
                margin-bottom: 3rem;
            }
        }
    }

    .grid-cards
    .rect-card {
        @include desktop{
        padding: 3rem 4rem;
        }
    }
}

/* Job Postings page #### END #/

/* Calendar page **** Start*/
.tribe-events-page-template {
    color:black;
        .header-meta {
            text-align: center;
        }

        
        .frafca-events-page-title {
            color:white;
            background-color: $color__background-banner;
            margin:auto;
        }

        .frafca-events-calendar  {
            thead {

                th {

                    background-color: $color__background-banner;

                } 

            }
            
        }

        .frafca-events-sub-nav {
            display: flex;
            justify-content: space-between;
            width:100%;
            color:white;
            background-color: $color__background-banner;
            align-items: center;
            transform: translateY(-80px);
            margin:0;
            height: 56px;
                    a {
                        color:white;
                        text-decoration: white;
                            @include desktop {
                                font-size: 17px;
                                font-weight: 300;
                            }
                    }

                    span {
                        display:none;
                    }

                    h1 {
                        font-size: 1rem;
                            @include desktop {
                                font-size: 1.5rem;
                            }
                    }

        }

        #tribe-events-header .tribe-events-sub-nav {
            padding: 0 3rem;
        }

        #tribe-events-footer:after, #tribe-events-header:after {
            left: 0;
        }

        #tribe-events-footer:before, #tribe-events-header:before {
            right: 0;
        }

        #tribe-bar-form {
            background: hsla(0,0%,100%,.3);
            @include desktop {
            transform: translateY(-97px);
            }
        }

        #tribe-bar-collapse-toggle {
            background: hsla(0,0%,100%,.3);
            transform: translateY(-55px);
        }

        .tribe-bar-views-inner {
            background: hsla(0,0%,100%,.3);

        }

        .tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text] {
            font-size: 1.2rem;
        }

        .tribe-events-calendar {
            transform: translateY(-82px);
        }

        #tribe-bar-form .tribe-bar-submit input[type=submit] {
            background: $color__background-button;
            background-image: none;
            color: $color__text-sec;
            font-size: 13px;
            margin: $base__space-unit * 2 auto;
            padding: $base__space-unit - 0.25 0;
            width: 205px;
            border-radius: 10px;
            text-align: center;
            justify-content: center;
                    @include desktop {
                        display:none;
                    }
        }

        .tribe-bar-submit {
            display: flex;
            justify-content: center;
        }

        #tribe-bar-form.tribe-bar-collapse .tribe-bar-filters {
            background: white;
        }


        .tribe-events-notices {
            transform: translateY(-80px);
        }

        .fa-angle-right,
        .fa-angle-left {
            padding: 8px;
        }

        .tribe-bar-filters-inner 
        .tribe-clearfix {
            @include desktop{
            transform: translateY(-96px);
            background: hsla(0,0%,100%,.7);
            }
        }

        #tribe-events-content a {
            // color: #16605C;
            font-weight: bold;
        }

        .events-archive,
        .events-gridview, 
        .tribe-events-last,
        .type-tribe_events {
            // border-left: 5px solid #334C71;
            background:rgba(22, 96, 92, 0.1);

        }

        .tribe-events-calendar thead th {
            background-color: white;
            color: black;
            border:none;
        }

        .frafca-events-nav-next a {
            color: white;
        }

}