/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
    width:100%;
    
}

.footer-container{
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.footer-navigation,
.logo-social-container
 {  width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px;
    border-bottom: 1px solid white;
    

}

.footer-menu-header {
    color:white;
}

.menu-footer-connect-container ul,
.menu-footer-get-involved-container ul,
.menu-footer-what-we-do-container ul
{
    list-style: none;
    
}

.show-footer {

    .menu-footer-connect-container a,
    .menu-footer-get-involved-container a,
    .menu-footer-what-we-do-container a 
        {
            text-decoration: none;
        }
}

.menu-footer-connect-container a,
.menu-footer-get-involved-container a,
.menu-footer-what-we-do-container a {
    display:none;
}

.copyright {
    text-align: center;
}