/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
    width: 100%;
    background: $color__text-sec;

    @include desktop {}
}

.footer-container {
    padding-top: 2rem;
    color: $color__text-main;

}

.footer-nav-container {
    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;

    }
}

.footer-navigation,
.logo-social-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2.5rem;
    border-bottom: 1px solid $color__text-main;
    color: $color__text-main;

    @include desktop {
        border-bottom: none;
        padding: 0;

    }

}

.footer-navigation {
    @include desktop {
        width: auto;
        display: block;
        padding-bottom: 1.25rem;
    }
}

.logo-social-container {
    @include desktop {
        border-bottom: none;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}


.footer-menu-header {
    color: $color__text-main;

    @include desktop {
        font-size: 1.4375rem;
        font-weight: bold;
    }

}

.footer-menu-container {
    color: $color__text-main;

    @include desktop {
        font-size: 1.4375rem;
    }
}



.menu-footer-connect-container ul,
.menu-footer-get-involved-container ul,
.menu-footer-what-we-do-container ul {
    list-style: none;
    padding-inline-start: 0px;
    scroll-padding-inline: 0px;


    @include desktop {
        padding: 0px;

    }

}


.footer-menu-container {

    display: none;

    @include desktop {
        display: inline;
    }

}

.footer-menu-trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include desktop {
        display: inline;
        width: 0;
    }
}

.menu-footer-connect-container a,
.menu-footer-get-involved-container a,
.menu-footer-what-we-do-container a {
    text-decoration: none;
    color: $color__text-main;
    font-size: 23px;
    line-height: 2.5rem;

    &:hover {
        color: $color__link;
    }

    &:active {
        color: $color__text-main;
    }

}

.copyright {
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
    padding-bottom: 1.25rem;
}

.footer-logo-img {
    widows: 2.5rem;
    height: 2.5rem;

    @include desktop {
        widows: 4.375rem;
        height: 4.375rem;
        margin: 1.25rem;
    }
}

.footer-connect .footer-what-we-do {
    padding-left: $base__space-unit + 0.25;

    @include desktop {
        padding: 0px;
    }

}

.fa-facebook {
    font-size: 1.25rem;

    @include desktop {
        font-size: 1.875rem;
    }
}


.footer-arrow-down-icon {
    @include desktop {
        display: none;
    }
}