/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
    width:100%;
    
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    color:black;
}

.footer-navigation,
.logo-social-container
 {  width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 15px 40px;
    border-bottom: 1px solid black;
    color:black;
    

}

.footer-menu-header {
    color: black;
}

.menu-footer-connect-container ul,
.menu-footer-get-involved-container ul,
.menu-footer-what-we-do-container ul
{
    list-style: none;
    
}


.footer-menu-container {
    
    display: none;
    
}

.footer-menu-trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-footer-connect-container a,
.menu-footer-get-involved-container a,
.menu-footer-what-we-do-container a {
    text-decoration: none;

}

.copyright {
    text-align: center;
}

.footer-logo-img {
    widows: 40px;
    height: 40px;
}

.footer-connect {
    padding-left: 20px;

}