/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Search Forms */

.search-form {
    width: 100%;
    background: #fff;

    &::placeholder {
        color: blue;
        font-size: 1.5em;
    }
}