/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Search Forms */

.search-form {
    width: 100%;
    background: #fff;
    font-size: 1.5em;

    &::placeholder {
        color: blue;
    }
}

/* Button */

button, input[type="button"] {
    padding: 16px 8px;
    border: 0 solid transparent;
    border-radius: $border-radius;

    &.default-btn {
        min-width: 200px;
    }

    &.yellow {
        background: $color__background-button;
        color: $color__text-sec;
    }

    .rect-card & {
        font-size: 1rem;
        font-weight: 900;
        &:hover {
            background-color: $color__background-button-hover;
        }
    }
}