// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Media Query

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

// Button Style

@mixin white-button {
    padding: $button_padding_height $button_padding_width;
    border-radius: 0.65rem;
    background: #fff;
    margin: 0.15rem;
}

// Flickity Mobile Design

@mixin flickity-center-buttons-no-dots {
    .previous {
        left: 37%;
    }

    .next {
        right: 37%;
    }

    .flickity-button {
        top: 78%;
    }

    .flickity-page-dots {
        display: none;
    }
}

// Flex Default Design

@mixin flex-default {
    display: flex;
    justify-content: center;
    align-items: center;
}