// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Media Query

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

// Button Style

@mixin white-button {
    padding: $button_padding_height $button_padding_width;
    border-radius: 0.65rem;
    background: #fff;
    margin: 0.15rem;
}