/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
    color: $color__link;

    &:visited {
        color: $color__link-visited;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}

/* Header Menus */
.site-header {
    display: flex;
    justify-content: space-between;
    height: auto;
    position: absolute;
    width: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    align-items: center;


    @include desktop {
        background: rgba(255, 255, 255, 0.3);
        justify-content: flex-end;
    }

    .header-logo {
        background: url(../../images/logos/2018_frafca_logo_final.png) no-repeat;
        background-size: 40px 40px;
        height: 40px;
        width: 40px;
        z-index: 1;
        margin: 0 2rem;
    }

    @include desktop {
        justify-content: space-between;
        align-items: center;
    }
}

.mobile-header-menu {
    display: none;
    position: fixed;
    background: #fff;
    min-height: 100vh;
    width: 93%;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;

    &:first-child {
        padding-top: 60px;
    }

    .sub-menu {
        display: none;
    }

    &--open {
        display: block;
        opacity: 1;
    }

    a {
        text-decoration: none;
        color: $color__link-visited;
        line-height: 4rem;
    }
}

.hamburger-icon {
    z-index: 3;
    display: block;
    color: #fff;
    padding: 0.8rem;
    font-size: $font__mobile_icon_size;
    transition: color 0.3s;

    &--open {
        color: #000;
    }

    @include desktop {
        display: none;
        font-size: $font__desktop_icon_size;
    }
}

.main-navigation {
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0rem;
    position: relative;

    .header-menu {
        display: none;

        @include desktop {
            display: block;
        }
    }

    ul {
        display: none;

        li {
            display: none;
        }
    }

    i {
        color: #fff;
        padding: 0.8rem;
        transform: scaleX(-1);
        font-size: $font__mobile_icon_size;

        @include desktop {
            font-size: $font__desktop_icon_size;
        }
    }

    ul {
        display: block;
        list-style: none;
        padding-inline-start: 0px;

        .sub-menu {
            display: none;
            position: absolute;
            top: 50px;
            left: 0%;
            background: white;
            color: black;

            li {
                display: block;

                a {
                    color: black;
                }
            }
        }

        li {
            display: inline;
            padding: 0.8rem;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }


    .side-header-menu {
        display: none;
        height: auto;

        @include desktop {
            display: block;
            color: #000;
            padding-right: 1rem;

            ul {
                margin: 0.15rem;
                margin-right: 1.7rem;
            }

            li {
                padding: 0.8rem 1.5rem;
                border-radius: 0.65rem;
                background: #fff;
                margin: 0.15rem;

                a {
                    color: #000;
                }

                &:nth-child(2n) {
                    background: yellow;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.hidden {
    display: none;
}