/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
    color: $color__link;

    &:visited {
        color: $color__link-visited;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}

/* Header Menus */
.site-header {
    display: flex;
    justify-content: space-between;
    height: auto;
    position: absolute;
    width: 100%;
    padding: 20px;
    left: 0;
    align-items: center;


    @include desktop {
        background: rgba(255, 255, 255, 0.3);
        justify-content: flex-end;
    }

    .header-logo {
        background: url(../../images/logos/2018_frafca_logo_final.png) no-repeat;
        background-size: 40px 40px;
        height: 40px;
        width: 40px;
        z-index: 1;
        margin: 0 2rem;
    }

    @include desktop {
        justify-content: space-between;
        align-items: center;
    }
}

.mobile-header-menu {
    display: none;
    position: fixed;
    background: #fff;
    height: 100%;
    width: 90%;
    left: 0px;

    &--open {
        display: block;
    }
}

.hamburger-icon {
    display: block;
    color: #fff;
    padding: 0.8rem;
    font-size: 1.5rem;

    &--open {}

    @include desktop {
        display: none;
    }
}

.main-navigation {
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0rem;

    .header-menu {
        display: none;

        @include desktop {
            display: block;
        }
    }

    ul {
        display: none;

        li {
            display: none;
        }
    }

    i {
        color: #fff;
        padding: 0.8rem;
        transform: scaleX(-1);
        font-size: 1.5rem;
    }

    ul {
        display: block;
        list-style: none;
        padding-inline-start: 0px;

        li {
            display: inline;
            padding: 0.8rem;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }


    .side-header-menu {
        display: none;
        height: auto;

        @include desktop {
            display: block;
            color: #000;
            padding-right: 1rem;

            ul {
                margin: 0.15rem;
                margin-right: 1.7rem;
            }

            li {
                padding: 0.8rem 1.5rem;
                border-radius: 0.65rem;
                background: #fff;
                margin: 0.15rem;

                a {
                    color: #000;
                }

                &:nth-child(2n) {
                    background: yellow;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.hidden {
    display: none;
}