/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */
a {
    color: $color__link;

    &:visited {
        color: $color__link-visited;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}

/* Search Field */
.search-field-container {
    display: none;
    background: #fff;
    top: 0;
    left: 0;
    width: 100vw;
    position: absolute;
    z-index: 4;
    padding: 0 0.75rem;

    @include desktop {
        padding: 0;
    }

    .search-form {
        @include align-items-center;
        justify-content: space-between;
        border: 2px solid $color__background-black;
        margin: 1.25rem 0;
        font-size: 1.25rem;

        @include desktop {
            border: 0;
            justify-content: center;
        }

        .search-label {
            @include desktop {
                border: 0;
            }
        }

        .search-field {
            box-sizing: border-box;
            padding: 0.35rem 1.25rem;
            width: 100%;
            border:none;
            outline: none;
            color: #000;

            @include desktop {
                border: 1px solid #000;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
                border-right: none;
                width: 550px;
            }
        }
    }

    .search-button {
        @include white-button;
        color: #000;
        font-weight: bold;
        background: $color__link;
        margin: 0;
        background: $color__background-button;
        border: none;
        border-radius: 0;

        &:after {
            font-family: 'Font Awesome 5 Free';
            content: '\f002';
        }

        @include desktop {
            padding: 0.4rem 2.5rem;
            background: $color__background-button;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;

            &:after {
                font-family: $font__main;
                content: "Search";
            }
        }
    }
}

/* Header Menus */
.site-header {
    @include flex-default;
    height: auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: $time__transition;
    z-index: 9999;

    &.darkmode {
        z-index: 1;
        background-color: rgba(47, 43, 92, .6);
        @include box-shadow;
        @include blur-filter;

        .hamburger-icon,
        .main-navigation i {
            color: $color__background-screen;
        }

        .hamburger-icon--open {
            color: $color__text-sec;
        }
    }

    &.mediummode {
        z-index: 1;
        background-color: rgba(0, 0, 0, .3);
        @include box-shadow;
        @include blur-filter;

        .hamburger-icon,
        .main-navigation i {
            color: $color__background-screen;
        }

        .hamburger-icon--open {
            color: $color__text-sec;
        }
    }

    .header-container {
        @include align-items-center;
        justify-content: space-between;
        width: 1300px;
        max-width: 1400px;

        @include desktop {
            justify-content: space-between;

            a {
                text-decoration: none;
            }
        }
    }

    @include desktop {
        background: rgba(255, 255, 255, 0.3);
        justify-content: center;
    }

    .header-logo {
        background: url(../../images/logos/2018_frafca_logo_final.png) no-repeat;
        background-size: $logo_size $logo_size;
        height: $logo_size;
        width: $logo_size;
        z-index: 4;
        position: relative;

        @include desktop {
            line-height: 3.8rem;
            vertical-align: center;
            font-size: 3.2rem;
            z-index: 5;
        }
    }

    .error404 &,
    .search & {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

        .hamburger-icon,
        .main-navigation i {
            color: $color__text-sec;
        }
        @include desktop {
            .main-navigation ul li {
    
                a {
                    color: $color__text-sec;
                }
    
            }
            .sub-menu {
                border: 1px solid $color__background-hr;
            }
            .side-header-menu {
                .menu li:first-child {
                    a {
                        border: 1px solid $color__background-black;
                    }
                }
            }
        }
    }
}
#ajaxsearchlite1 .probox {
    z-index: -1;
    border-radius: 0 !important;
}

.mobile-header-menu {
    display: block;
    position: fixed;
    background: #fff;
    width: 0;
    height: 100vh;
    left: -100vw;
    top: 0;
    z-index: 2;
    padding-top: 5rem;
    opacity: 0;
    transition: $time__transition;
    overflow: hidden;

    .menu-mobile-header-menu-container {
        padding-bottom: 9rem;
    }

    .sub-menu {
        display: none;
        z-index: 3;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: $color__link-visited;
        flex-grow: 1;
        padding: 1.5rem 0;

        &:active {
            color: #fff;
            background-color: $color__link-visited;
        }

        &:focus {
            color: $color__background-banner;
            background-color: transparent;
        }
    }

    &--open {
        display: block;
        left: 0;
        width: $navigation__mobile-width;
        opacity: 1;
    }

    &-container {
        position: relative;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-weight: 900;

            li {
                position: relative;
                margin: 0;
                @include avg-0-padding;
                width: 100%;
                font-size: 1rem;
                display: flex;
                flex-wrap: wrap;

                &::before {
                    position: absolute;
                    content: '';
                    width: $navigation__mobile-width;
                    height: 1px;
                    left: 0;
                    bottom: 0;
                    border-bottom: 1px solid $color__link-visited;
                }

                &:last-child {
                    &::before {
                        display: none;
                    }
                }

                .fa,
                .fas {
                    flex: none;
                    width: 3rem;
                    top: 1.25rem;
                    right: .5rem;
                    line-height: 4.5rem;
                    text-align: center;
                    color: $color__link-visited;
                    z-index: 300;
                }

                ul {
                    flex: none;
                    width: 100%;
                    @include avg-0-padding;
                    font-weight: 500;

                    li {
                        padding: .5rem;

                        &::before {
                            display: none;
                        }

                        a {
                            padding: 0;
                            width: 100%;
                        }

                        &:last-child {
                            margin-bottom: .5rem;
                        }
                    }
                }
            }
        }
    }
}

.hamburger-icon {
    z-index: 3;
    display: block;
    color: #fff;
    @include avg-padding;
    font-size: $font__mobile_icon_size;
    transition: color $time__transition;

    &--open {
        color: $color__text-sec;
    }

    @include desktop {
        display: none;
        font-size: $font__desktop_icon_size;
    }
}

.main-navigation {
    background: none;
    @include align-items-center;
    justify-content: space-between;
    height: 5rem;

    .header-menu {
        display: none;

        @include desktop {
            display: block;
            height: 100%;

            .menu-header-menu-container {
                @include pos-relative;

                ul {
                    height: 100%;
                    margin: 0;
                    display: flex;

                    li {
                        display: block;
                        @include pos-relative;

                        .sub-menu {
                            display: none;
                        }

                        a {
                            @include align-items-center;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    ul {
        display: none;

        li {
            display: none;
        }
    }

    i {
        color: #fff;
        @include avg-padding;
        transform: scaleX(-1);
        font-size: $font__mobile_icon_size;
        transition: 0.3s font-size ease-in-out;

        @include desktop {
            font-size: $font__desktop_icon_size;

            &:hover {
                @include text-shadow;
            }
        }
    }

    ul {
        display: block;
        list-style: none;
        padding-inline-start: 0px;
        margin: 0;

        .sub-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 75px;
            background: #fff;
            ;
            color: $color__background-black;
            left: 0;

            @include desktop {
                display: none;
                width: auto;
                height: initial !important;
            }

            li {
                display: block;
                position: relative;

                &:hover {
                    @include box-shadow;
                }

                a {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: $color__background-black;
                    line-height: 4.5rem;

                    &:hover {
                        text-shadow: none;
                        box-shadow: none;
                    }
                }
            }
        }

        li {
            display: inline;

            a {
                padding: 0 1.2rem;
                height: 100%;
                text-decoration: none;
                color: #fff;
                @include default-transition;
                text-shadow: none;

                &:hover {
                    @include box-shadow;
                }
            }
        }
    }

    .side-header-menu {
        display: none;
        height: auto;

        @include desktop {
            display: block;
            color: $color__background-black;
            font-weight: 900;

            li {
                a {
                    @include white-button;
                    color: $color__background-black;
                    @include default-transition;

                    &:hover {
                        @include box-shadow;
                    }
                }

                &:nth-child(2n) {
                    a {
                        background: $color__background-button;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.fa,
.fas,
.footer-arrow-down-icon {
    transition: transform $time__transition;
    transform-origin: center;
}

.open {
    transform: rotate(180deg);
}