/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-page-content {
    .yellow {
        font-size: $font__size_main - 3;
        font-weight: 600;
    }
}

.page-template-front-page {
    a.scroll-down {
        text-decoration: none;
        color: #fff;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        text-align: center;

        &:hover {
            text-shadow: 0 .5rem 1rem rgba(213, 194, 194, 0.5);
        }
    }
}

.front-page-about-us {
    color: #2d2d2d;
    text-align: center;

    a {
        font-size: 1.25rem;

        &:hover {
            background-color: $color__background-button-hover;
        }
    }

    .about-us-button {
        position: absolute;
        transform: translateY(-145%);
        left: 10%;
        right: 10%;
        font-size: $font__size_main - 3;

        @include desktop {
            position: relative;
            left: initial;
            right: initial;
            transform: none;
            padding: 1rem 2rem;
        }
    }

    .yellow {
        width: max-content;
        margin: 0 auto;
        @include desktop {
            margin: 1.5rem auto 4rem auto;
        }
    }

    h2 {
        margin: $base__space-unit * 2.4 auto;
        color: #2d2d2d;
    }

    .fp-about-us-carousel {
        @include flickity-center-buttons-no-dots;

        @include desktop {
            display: flex;
            justify-content: center;
            position: relative;

            &::after {
                content: '';
                // Removes flickity content from the carousel and changes the carousel from 1 slide to three none draggable
            }

            .flickity-viewport {
                margin-bottom: $base__space-unit * 10;
            }

            .flickity-button {
                display: none;
            }
        }
    }

    .fp-about-us-cell {
        @include align-items-center;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 $base__space-unit;

        flex-flow: column wrap;
        justify-content: space-evenly;
        height: 610px;

        .card-icon {
            width: 150px;
        }

        .card-meta {
            padding-bottom: $base__space-unit * 8;
            color: $color__text-main;
            padding-left: $base__space-unit;
            padding-right: $base__space-unit;
        }

        @include desktop {
            justify-content: flex-start;
            width: 27%;
            margin-left: $base__space-unit;
            margin-right: $base__space-unit;
            border-radius: $border-radius;
            height: 420px;


            h3 {}

            .card-icon {
                width: 150px;
                margin: $base__space-unit;

            }

            .card-meta {
                padding: 0;

            }

        }

    }
}

.what-we-offer {
    margin-top: $base__space-unit * 2;

    .wwo_image {
        background-image: linear-gradient(to right bottom, #2f2b5c, #5a3165, #803766, #a14261, #ba5357);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include justify-content-center;
    }

    .wwo_meta {
        background: $color__background-black;
        text-align: center;
        font-size: $font__size_main - 3;
        padding: $base__space-unit * 2;

        a {
            font-size: 1.25rem;

            &:hover {
                background-color: $color__background-button-hover;
            }
        }
    }

    .default-btn {
        display: inline-grid;
        margin: $base__space-unit - 0.5 auto;
    }

    @include desktop {
        display: flex;

        .wwo_image {
            justify-content: initial;

        }

        .wwo_meta {
            flex: 50%;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            text-align: left;

            h3 {
                font-size: 3rem;
            }
        }
    }
}

.front-page-get-involved {
    h2 {
        color: #2d2d2d;
        text-align: center;
        margin: $base__space-unit * 2 auto;
    }

    .card-icon {
        width: 150px;
        margin: 0 auto;
    }

    .fp-get-involved-card {
        @include align-items-center;
        flex-flow: column wrap;
        justify-content: space-around;
        text-align: center;
        height: 30rem;
        margin-bottom: $base__space-unit * 2;
        padding: $base__space-unit 0;

        p {
            padding-left: $base__space-unit * 2;
            padding-right: $base__space-unit * 2;
        }
    }

    @include desktop {
        .flex-cards {

            display: flex;
            margin-left: 5vw;
            margin-right: 5vw;
            padding: 0 $base__space-unit;


            .fp-get-involved-card {
                margin: 0 $base__space-unit + 1;
                height: unset;
                border-radius: $border-radius;
                flex: 30%;


                .card-icon {
                    margin-top: 1rem;
                    width: 145px;
                }

                h3 {
                    margin-top: $base__space-unit;
                }

                p {
                    height: 140px;
                    font-size: 1.25rem;
                }

                a {
                    margin-bottom: $base__space-unit;

                    font-size: 1.25rem;

                    &:hover {
                        background-color: $color__background-button-hover;
                    }
                }
            }
        }
    }
}

.front-page-partners {
    background: $color__background-black;
    margin: $base__space-unit * 2 auto;

    h2 {
        padding: $base__space-unit * 2 0;
        text-align: center;
    }

    .fp-partners-carousel {

        .flickity-viewport {
            height: 400px !important;
        }

        @include flickity-center-buttons-no-dots;
    }

    .partner-content {
        @include flex-default;
        width: 100%;
        text-align: center;
        padding: 0 $base__space-unit;
        flex-flow: column wrap;
        margin-top: $base__space-unit * 2;

        .partner-logo {
            width: 150px;
        }

        @include desktop {
            width: 25%;
        }
    }

    @include desktop {
        .fp-partners-carousel {

            .flickity-viewport {
                height: 300px !important;
            }

            @include flickity-button-reset;
        }

    }
}

/* About Page */
.page-template-page-about {
    section {
        margin-top: 80px;
        font-size: 1.2rem;

        &:last-child {
            margin-bottom: 80px;
        }

        @include desktop {
            font-size: $font__size_main;
            margin-top: 7.5rem;

            &:last-child {
                margin-bottom: 120px;
            }
        }
    }

    .image-background {
        width: 100%;
        height: 260px;

        @include desktop {
            height: 100%;
        }
    }

    .grid-cards {
        &-element {
            padding: 0 1.5rem;

            &.frafca_swipe_article {
                padding: 0;

                .swipe-wrapper {
                    display: flex;
                    flex-wrap: nowrap;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    align-items: flex-start;
                    width: 100vw;
                    scroll-snap-type: x mandatory;
                    transition: height $time__transition;
                }

                .swipe-element {
                    flex: none;
                    width: 100vw;
                    padding: 0 1.5rem;
                    margin: 0;
                    margin-bottom: 1rem;
                    scroll-snap-align: start;
                }

                .navigation-dots {
                    @include flex-default;

                    .dot {
                        width: .5rem;
                        height: .5rem;
                        background-color: $color__border;
                        border-radius: 50%;
                        margin: 0 .5rem 0 0;
                        transition: $time__transition;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.active {
                            background-color: $color__border-abbr;
                        }
                    }
                }

                @include desktop {
                    padding: 0 1.5rem;
                }
            }

            &:first-child {
                padding: 0;
            }

            &:nth-child(2) {
                margin-top: 3.25rem;
                margin-bottom: 1rem;
            }
        }

        // end .grid-cards-element

        @include desktop {
            grid-column-gap: 4.5rem;
        }
    }

    .rect-card {
        padding: 3.75rem 1.5rem;
    }

    .container {
        &-who-we-are {
            @include desktop {
                .txt-align-c {
                    text-align: left;
                }

                .grid-cards {
                    grid-template-columns: 420px auto;

                    &-element {
                        &:nth-child(1) {
                            grid-row: 1/3;
                        }

                        &:nth-child(2) {
                            margin: 0;
                        }
                    }
                }
            }
        }

        // end .container-who-we-are

        &-location-history {
            p {
                margin: 0 auto;

                @include desktop {
                    width: 970px;
                }
            }
        }

        // end .container-location-history

        &-our-history {
            @include desktop {

                .txt-align-c {
                    text-align: right;
                }

                .grid-cards {
                    grid-template-columns: auto 420px;

                    &-element {
                        &:nth-child(1) {
                            grid-column: 2/3;
                            grid-row: 1/3;
                        }

                        &:nth-child(2) {
                            margin: 0;
                        }
                    }
                }
            }
        }

        // end .container-our-history

        &-friendship-center {
            @include desktop {
                @extend .container-who-we-are;
            }
        }

        // end .container-friendship-center

        &-card-about-us {
            .flex {
                &-element {
                    @include flex-default;
                    background-color: $color__background-article;
                    flex-direction: column;
                    min-height: 100vh;
                    text-align: center;
                    padding: 1.5rem;

                    @include desktop {
                        min-height: auto;
                        padding: 6.25rem;
                    }

                    .card {
                        &-logo {
                            width: 150px;
                            height: 150px;
                            margin-bottom: 40px;
                        }

                        &-title {
                            margin-bottom: 20px;

                            h3 {
                                margin: 0;
                            }
                        }

                        &-description {
                            margin-bottom: 64px;
                        }
                    }

                    &:nth-child(2n) {
                        background-color: $color__background-banner;
                    }
                }
            }

            @include desktop {
                .grid-cards {
                    max-width: 100%;
                    grid-column-gap: unset;
                }
            }
        }

        // end .container-card-about-us

    }
}

/* Resources Page */
.resources-grid {
    max-width: 1000px;

    .resources {
        padding: $base__space-unit * 3 $base__space-unit * 2;

        .cfs-hyperlink {
            .text {
                color: $color__text-main;
            }
        }
    }
}

/* Donate Page */
#donate-page-banner {
    .banner-title {
        margin-top: 0rem;
    }

    @include desktop {
        .banner-title {
            margin-top: 7.5rem;
        }
    }

    .banner-button {
        margin: $base__space-unit * 2 auto;
        padding: $base__space-unit - 0.25 0;
        width: 205px;
        border-radius: 10px;
        background-color: #FFD400;

        a {
            color: #2d2d2d;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.donate-grid {
    display: grid;
    margin: 0 auto;
    margin-top: $base__space-unit * 2;

    .donate-card {
        margin-bottom: $base__space-unit * 2;
        padding: 3rem;
        text-align: center;
        background: $color__background-article;

        h3 {
            margin: 0 auto;
        }

        p {
            font-size: $font__desktop_icon_size/1.25;
            margin: $base__space-unit auto;
        }
    }
}

@include desktop {
    .donate-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
        margin: 0 auto;
        width: 70rem;

        .donate-card {
            @include justify-content-center;
            flex-direction: column;
            margin: $base__space-unit * 7 auto;
            padding: 1.5rem;
            text-align: center;
            min-height: 340px;
        }
    }
}


/* Contact Page **** START */

.page-template-page-contact {

    .grid-cards {

        @include desktop {
            display: inline;
            max-width: 1200px;
            margin: auto;
            margin-bottom: 5rem;
        }

    }

    .contact-cards {

        @include desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2rem;
        }

        .rect-card p {
            text-align: left;
            line-height: 22px;
            font-size: 19px;
            margin-bottom: 22px;
            margin-top: 0px;

        }

        .rect-card h3 {
            text-align: left;
            margin-bottom: 0.5rem;

            @include desktop {
                font-size: 23px;
                margin-bottom: 1rem;
            }

        }

        .rect-card {
            padding: 5rem 2.5rem 2rem;

            @include desktop {
                margin: 0;
                padding: 3rem 1.5rem 2rem;
                ;


                // Adjust margins of even number of container
                &:nth-child(2*n) {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    .contact-location-header {

        color: $color__text-sec;
        text-align: center;
        padding: 5rem 0 0 0;

        @include desktop {
            padding: 5rem 0 5rem 0;
        }
    }
}

/* Contact Page **** END */

/* Team Page **** START */
.page-template-page-meet-our-team {
    .grid-cards {
        display: block;

        @include desktop {
            max-width: $desktop-width;
            margin: 0 auto;
        }

        .rect-card {
            margin: 0;
            padding: 0rem 1.5rem 5rem 1.5rem;

            @include desktop {
                padding: 0rem 1.5rem 8rem 1.5rem;
            }
        }

        p {
            margin-bottom: 1.5rem;
        }
    }

    .card-info {
        padding: 0 2rem;

        @include desktop {
            text-align: left;
            padding-top: 80px;
        }

        p,
        a {
            display: block;
            font-weight: 500;
            font-size: 1rem;
        }

        p:nth-child(1),
        p:nth-child(2) {
            font-weight: 900;

        }

        p:first-child {
            font-size: 22px;

            @include desktop {
                font-size: 2rem;
            }
        }

        p:nth-child(2) {
            @include desktop {

                font-size: 1.5rem;

            }
        }

        a {
            color: $color__text-sec;
            text-decoration: none;

            &:hover {
                color: $color__text-sec;
            }

            &:active {
                color: $color__text-sec;
            }
        }
    }

    .page-team-header {
        color: $color__text-sec;
        text-align: center;
        padding: 3rem 0 3rem 0;

        @include desktop {
            padding: 8rem 0 8rem 0;
        }
    }

    .grid-rect-card {
        @include desktop {
            display: grid;
            grid-template-columns: 45% 55%;
            grid-gap: 2rem;
        }

    }

}

/* Volunteer page */

.page-template-page-volunteer {

    .volunteer-info {
        margin: 5rem 2rem 0rem 2rem;
        text-align: center;

        @include desktop {
            text-align: left;
            margin-top: 0;
        }

    }

    .volunteer-info-container {
        text-align: center;
        margin-bottom: 5rem;

        h3 {
            padding: 2rem 0;
            margin-bottom: 3rem;
        }

        a {
            color: $color__text-sec;
            text-decoration: none;

            &:hover {
                color: $color__text-sec;
            }

            &:active {
                color: $color__text-sec;
            }
        }

        @include desktop {
            text-align: left;
        }
    }

    .volunteer-apply-info {
        text-align: center;
        margin: 0rem 2rem 5rem 2rem;

        @include desktop {
            text-align: left;
        }

    }
}

.flex-container {
    @include desktop {
        max-width: $desktop-width;
        margin: 120px auto 100px auto;
        display: flex;
    }


    .flex-wrap {

        h3 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 0;
        }

        .content-type-text {
            margin-top: 5rem;

            @include desktop {
                padding: 0;
                margin-top: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .content-type-widgets {

            h3,
            p {
                padding: 0 2rem;
                margin-bottom: 1rem;
            }

            h3 {
                padding-top: 2rem;
                padding-bottom: 2rem;
                color: $color__text-main;
            }

            p {
                &:last-child {
                    margin-bottom: 3rem;
                }
            }
        }

        @include desktop {
            &.single-description {
                order: 1;
                text-align: left;
            }

            &.single-details {
                flex: none;
                order: 2;
                width: 350px;
                margin-right: 120px;

                .content-type-widgets {
                    border: 1px solid $color__border;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &>* {
                        margin: 0;
                        margin-bottom: 1.5rem;

                        &:last-child {
                            margin-bottom: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

/* Single Event page **** Start*/
#tribe-events-pg-template {
    padding: 0px;
}

#tribe-events {
    p:last-child {
        margin-bottom: 2rem;
    }

    div {
        &.tribe-events-single-event-description {
            padding: 0rem 3rem;
        }
    }
}

.single-tribe_events {

    color: #323232;
    padding: 0rem;

    .tribe-events-single {
        padding: 0;
        margin: 0;
    }

    .single-event-header {
        background-color: $color__background-article;
        color: white;
        padding: 2rem;
        transform: translateY(-38px);
        width: 90%;
        margin: 0 auto;

        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .tribe-events-single-event-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .single-event-purple {
        background-color: $color__background-article;
        border: none;
        padding: 0;
        font-size: 1rem;
        font-weight: 300;

        span {
            font-weight: 300;
        }
    }

    .tribe-events-single-event-description,
    .tribe-events-content {

        h1 {
            font-size: 2rem;
        }

        p:last-child {
            margin-bottom: 2rem;
        }

        span {
            padding: 2rem;
        }

        @include desktop {
            order: 0;
            width: 70%;
        }
    }

    .single-event-date-details {
        display: none;
    }

    .single-tribe_events,
    .tribe-events-cal-links {
        text-align: center;

        @include desktop {
            order: 2;
            width: 100%;
        }
    }

    .single-event-venue {
        display: none;
    }

    .secondary .tribe-events-venue-map {
        width: 90%;
        margin: 2rem 5%;

    }

    .tribe-events-meta-group-organizer {
        padding: 0 3rem;
    }

    .single-tribe_events,
    .tribe-events-event-meta {
        background: none;
        border: none;
        margin: 0;
    }

    .tribe-events-single-section,
    .tribe-events-event-meta,
    .primary {
        @include desktop {
            order: 1;
            width: 30%;
            font-size: 19px;
            display: flex;
        }

        .tribe-clearfix {
            width: 100%;
        }

    }

    .secondary {
        width: 100%;

        @include desktop {
            order: 4;
            width: 100%;
        }


    }

    .fa-map-marker-alt,
    .fa-calendar-alt {
        font-size: 1.5rem;
    }

    .get-ticket-header {
        display: none;

        @include desktop {
            display: block;
            text-align: center;
            order: 5;
        }
    }

    .get-ticket-footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding: 0 1rem;

        a {
            text-align: center;
            margin: 1rem;
        }

        @include desktop {
            display: none;
        }
    }

    .get-ticket-price {
        font-size: 19px;
        font-weight: bold;
    }

    .get-ticket-description {
        font-size: 1rem;
        margin-bottom: 0rem;
    }

    .get-ticket-address-details {
        font-size: 17px;
    }

    .single-event-content-container {
        @include desktop {
            display: flex;
            padding: 0rem 2rem;
        }
    }

    #tribe-events-pg-template .tribe-events-content h1 {

        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    #tribe-events-content {
        @include desktop {
            .tribe-events-meta-group-organizer {

                display: block;
                float: none;
                width: 100%;
                padding: 0;
                padding-top: 2rem;

                h2 {
                    display: none;
                    // margin-top: 0;
                    // margin-bottom: 1rem;
                }

                .single-event-organizer {
                    flex: none;
                    width: 100%;
                    position: relative;

                    &::before {
                        position: relative;
                        display: block;
                        width: 100%;
                        content: 'Contact Information';
                        font-size: 1.5rem;
                        font-weight: 900;

                    }
                }

                dl {
                    display: flex;
                    flex-wrap: wrap;

                    * {
                        line-height: 1.5;
                    }

                    dt {
                        flex: none;
                        width: 30%;
                    }

                    dd {
                        width: 70%;
                    }
                }
            }
        }
    }
}

/* Job Postings page */

.page-template-page-job-postings {

    .rect-card {

        p:first-child {
            margin-bottom: 5px;
        }

        h3 {
            margin-bottom: 2rem;
        }

        p:nth-child(3) {
            margin-bottom: 5rem;

            @include desktop {
                margin-bottom: 3rem;
            }
        }
    }

    .grid-cards .rect-card {
        @include desktop {
            padding: 3rem 4rem;
        }
    }
}

/* Single - single-prgrm_svc.php */
.flex-container {
    @include desktop {
        max-width: $desktop-width;
        margin: 120px auto 100px auto;
        display: flex;
    }

    .flex-wrap {
        h3 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 0;
        }

        .content-type-text,
        .content-type-list {
            padding: 0 2rem;
            margin-bottom: 3rem;

            @include desktop {
                padding: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .content-type-widgets {

            h3,
            p {
                padding: 0 2rem;
                margin-bottom: 1rem;
            }

            h3 {
                padding-top: 2rem;
                padding-bottom: 2rem;
                color: $color__text-main;
            }

            p {
                &:last-child {
                    margin-bottom: 3rem;
                }
            }
        }

        @include desktop {
            &.single-description {
                order: 2;
            }

            &.single-details {
                flex: none;
                order: 1;
                width: 350px;
                margin-right: 120px;

                .content-type-widgets {
                    border: 1px solid $color__border;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &>* {
                        margin: 0;
                        margin-bottom: 1.5rem;

                        &:last-child {
                            margin-bottom: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

/* Search Results Page */
.search-results-content {
    color: #000000;
    min-height: 55vh;
    margin: $base__space-unit * 4 auto $base__space-unit * 2 auto;
    padding: $base__space-unit * 2 $base__space-unit * 2;

    h1 {
        font-size: 1rem;
    }

    a {
        color: $color__link-search;
        font-size: 1rem;
        line-height: 1;
    }

    .search-page-header {
        @include align-items-center;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: $base__space-unit * 3;

        .page-title {
            span {
                font-style: italic;
            }
        }
        .search-count {
            font-size: 1rem;
        }

        @include desktop {
            flex-direction: row;
        }
    }

    .entry-header {
        .entry-title {
            font-size: $font__size_main;
            line-height: 1.5;
        }
        p {
            margin: 0;
            font-size: 10px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            a {
                font-size: 10px;
                color: $color__border-abbr;
                text-decoration: none;
            }
        }

    }


    @include desktop {
        margin: $base__space-unit * 4 auto;
        padding: $base__space-unit * 3 $base__space-unit * 8;

        h1 {
            font-size: $font__size_main ;
        }

        a {
            font-size: $font__size_main ;
        }
    }
}