/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* About Page */

/* Sigle - single-prgrm_svc.php */
.flex-container {
    @include desktop {
        max-width: $desktop-width;
		margin: 120px auto 100px auto;
        display: flex;
    }


    .flex-wrap {

        h3 { 
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 0;
        }

        .content-type-text, .content-type-list {
            padding: 0 2rem;
            margin-bottom: 3rem;

            @include desktop {
                padding: 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .content-type-widgets {
            h3, p {
                padding: 0 2rem;
                margin-bottom: 1rem;
            }
            h3 {
                padding-top: 2rem;
                padding-bottom: 2rem;
                color: $color__text-main;
            }
            p {
                &:last-child {
                    margin-bottom: 3rem;
                }
            }
        }

        @include desktop {
            &.single-description {
                order: 2;
            }
            &.single-details {
                flex: none;
                order: 1;
                width: 350px;
                margin-right: 120px;
                .content-type-widgets {
                    border: 1px solid $color__border;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    & > * {
                        margin: 0;
                        margin-bottom: 1.5rem;
                        &:last-child {
                            margin-bottom: 1.5rem;
                        }   
                    }
                }
            }
        }
    }
}