// Structure

$base__space-unit: 1rem;
$navigation__mobile-width: 90vw;

// Media Query

$desktop-width: 1200px;

// Colors

$color__background-body: #4D4E60;
$color__background-screen: #ffffff;
$color__text-main: #ffffff;
$color__text-sec: #323232;

$color__text-screen: #21759b;

$color__background-article: #2F2B5C;
$color__background-button: #FFD400;
$color__background-button-hover: darken($color__background-button, 15%);
$color__background-banner: #BA5357;
$color__background-black: #323232;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #FFD400;
$color__link-visited: #2F2B5C;
$color__link-hover: darken($color__link, 15%);

$color__warning: #FF18FF;
$color__confirm: #398f14;
$color__no-data: #BBBBBB;

// Typography

$font__main: 'Raleway',
sans-serif;
$font__header: 'Merriweather',
serif;
$font__code: Monaco,
Consolas,
"Andale Mono",
"DejaVu Sans Mono",
monospace;
$font__pre: "Courier 10 Pitch",
Courier,
monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size_main: 22px;

$font__mobile_icon_size: 2.5rem;
$font__desktop_icon_size: 1.5rem;

// Border 
$color__border: #BBBBBB;
$border-radius: 8px;

// Animation time
$time__transition: .4s;