// Structure

$base__space-unit: 1.5rem;

// Media Query

$desktop-width: 1120px;
$mobile-width: 970px;

// Colors

$color__background-body: #4D4E60;
$color__background-screen: #ffffff;
$color__text-main: #ffffff;
$color__text-sec: #323232;

$color__text-screen: #21759b;

$color__background-article: #2F2B5C;
$color__background-button: #FFD400;
$color__background-banner: #BA5357;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #FFD400;
$color__link-visited: #2F2B5C;
$color__link-hover: darken($color__link,15%);

// Typography

$font__main: 'Raleway',sans-serif;
$font__header: 'Merriweather',serif;
$font__code: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
$font__pre: "Courier 10 Pitch",Courier,monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size_main: 22px;


// Border 

$border-radius: 8px;